.card {
    border-radius: 0.5rem;
    height: 360px;
    padding:1rem;
    margin: 0.5rem;
    box-shadow: 0 0 5px 3px gray;
    font-family: 'StarJedi', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;

    .image {
    height: 73%;
    display: flex;
    justify-content: center;
    img {
        max-width: -webkit-fill-available;
        border-radius: 0.5rem;
}
}

.characteristics {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    .gender {
        img {
        width: 20px;
        filter:invert(1);
        }
    }
    .height {
        margin-left: 0.5rem;
    }
}
}