.loading {
    color: white;
    font-family: 'StarJedi', sans-serif;
    height: 100vh;
    width: 100vw;

    p {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
        flex: 0 1 calc(50% - 15px);
        display: inline-block;
        width: calc(50% - 10px); /* Ancho del elemento, ajusta según sea necesario */
        margin: 0 5px; /* Margen entre elementos */
        box-sizing: border-box; /* Incluir el padding y borde en el ancho */
      }
  }

  .pagination {
    margin: 20px;
    display: flex;
    justify-content: center;
    button {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: #0056b3;
          }
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
      }
      
  }
  
  .page-numbers {
    display: flex;
    button {
        background-color: transparent;
        color: #007bff;
        &.disabled {
            font-weight: bold;
            background-color: #007bff;
            color: white;
            opacity: 0.7;
          }
      }
    span {
        color: white;
    }
  }